{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae lorem dolor. Ut a tincidunt enim. Phasellus magna dolor, ornare vel enim non, tristique sodales ex. Fusce elit tortor, aliquet sed diam egestas, venenatis blandit lectus. Integer lobortis consectetur rutrum. Fusce metus mi, consectetur id massa nec, bibendum tristique metus. Curabitur diam arcu, consectetur et ultricies in, tristique at justo. Curabitur dignissim mollis purus, a fermentum sapien maximus sed. Vestibulum bibendum mi ut lectus posuere ornare. Maecenas in ornare leo, id finibus libero. Aliquam erat volutpat.
    </p>
    <p>
        Sed quis nisl non elit sollicitudin finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut eleifend lacus vitae commodo semper. Vivamus accumsan ipsum vestibulum metus rhoncus, a aliquam dolor efficitur. Praesent laoreet mauris eu erat laoreet vulputate. In faucibus libero ac tortor tempor tristique. Fusce luctus ipsum at mi rhoncus molestie. Duis laoreet leo sit amet tortor condimentum consectetur id eu nibh.
    </p>
    <p>
        Mauris in dolor et augue egestas iaculis in at mi. Aenean lacus mi, volutpat ut sem non, sagittis fringilla nibh. Suspendisse condimentum tellus id elit scelerisque pulvinar. Nullam viverra magna a augue mollis auctor. In libero nisl, consequat ut elit vitae, tempor elementum tortor. Etiam congue condimentum nibh, eget pretium neque sagittis in. Nam augue turpis, varius id convallis a, vulputate a orci. Pellentesque cursus nulla a augue rutrum, euismod euismod mauris consectetur. Duis ac sodales odio, sed luctus dui. Morbi sollicitudin sodales libero, et semper eros.
    </p>
</main>
{% endblock %}