h1, p {
    color: green;
}

.red {
    color: rgb(255, 54, 54);
}

#orange {
    color: orange;
}

#purple {
    color: purple;
}

a {
    color: blue;
    text-decoration-color: aqua;
    border: 1px solid currentColor;
    background-color: cadetblue;
}

.container {
    color: rgb(117, 13, 100);
}

ul li a{
    color: orangered;
}

ul li {
    color: rgb(234, 0, 255);
}